### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
# Length of the list of screen names "SN" for total users
total_players = len(purchase_data["SN"].value_counts())

# Total Players Dataframe
player_count = pd.DataFrame({"Total Players": [total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Unique Items, Avg Price, Number of Purchases, Revenue
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# DataFrame with values
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})
# formatting
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Purchase Data by Gender
gender_data = purchase_data.groupby("Gender")

# screen names by gender
total_count_gender = gender_data.nunique()["SN"]

# count by gender / total players
percentage_of_players = total_count_gender / total_players * 100

# create DataFrame
gender_demos = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

# format DataFrame
gender_demos.index.name = None

# sort values by total count, round to 2 decimal places
gender_demos.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# purchase count by gender
purchase_count = gender_data["Purchase ID"].count()

# avg purchase price per gender
avg_purchase_price = gender_data["Price"].mean()

# avg purchase total by gender
avg_purchase_total = gender_data["Price"].sum()

# avg purchase total by gender / purchase count by unique shoppers
avg_purchase_per_person = avg_purchase_total/total_count_gender

# create DataFrame
gender_demos = pd.DataFrame({"Purchase Count": purchase_count, 
                             "Average Purchase Price": avg_purchase_price,
                             "Average Purchase Value":avg_purchase_total,
                             "Avg Purchase Total per Person": avg_purchase_per_person})

# Gender index
gender_demos.index.name = "Gender"

# format
gender_demos.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
# age bins for purchase_data 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# sort age values in bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_group_names)
purchase_data

# create DataFrame with Age Group
age_group_purchase_data = purchase_data.groupby("Age Group")

# count Total Players by age group
total_count_age = age_group_purchase_data["SN"].nunique()

# percentages by age group
percentage_by_age = (total_count_age/total_players) * 100

# create DataFrame
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# format
age_demographics.index.name = None
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# Count purchases by age group
purchase_count_age = age_group_purchase_data["Purchase ID"].count()

# avg purchase price by age group 
avg_purchase_price_age = age_group_purchase_data["Price"].mean()

# Total Purchase Value by age group 
total_purchase_value = age_group_purchase_data["Price"].sum()

# avg purchase per person in age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create DataFrame
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format
age_demographics.index.name = None
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# group purchase data by screen names
spender_stats = purchase_data.groupby("SN")

# count total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# avg purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
# create DataFrame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# group item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# count the number of times an item was purchased 
purchase_count_item = item_stats["Price"].count()

# purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# individual item price
item_price = purchase_value/purchase_count_item

# Create DataFrame
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# sort descending for top spender names, provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [16]:
# change sort in most_popular_items DataFrame to find highest total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

Trend Analysis
The 20-24 age demographic represents the largest perecentage of players and total purchase value.

The age demographic with the highest average purchase is 35-39 (at $4.76) but only makes up 5.38 percent of players.

The overwhelming majority of the players are male (84 percent).